#Portfolio {text-align: center;}
.portfolio_title {padding:1rem 0rem;font-size: 2rem;font-variant: petite-caps;}
.portfolio_wrapper {
    position: relative;
    padding: 2%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 1%;
}
.thumbnail_container { perspective: 1000px;}
.thumbnail{ height: auto; position: relative;transition: all .3s ease-in;}
.thumbnail .portfolio_img {
    transition: all .3s ease-in;border-radius: 10px;
    max-height: 247px;
    width: auto;
}

@media (max-width: 600px) {
    .thumbnail .portfolio_img {
        max-height: auto;
        width: 100%;
    }   
}
.thumbnail:hover .portfolio_img{
    transform: rotateX(-180deg);
}
.thumbnail .info {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
    height: 98%;
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--purplish);
    align-items: center;
    flex-flow: column;
    transition: all .3s ease-in;
    transform: rotateX(0deg) rotateY(180deg) rotateZ(180deg);
    opacity: 0;border-radius: 10px;
}
.thumbnail:hover .info {
    transform: rotateX(-180deg) rotateY(180deg) rotateZ(180deg);z-index: 1;opacity: 1;
}
.info_title {font-size: 1.5rem;}
.info_desc {font-size: 1rem;}
.full_thumbnail {
    display: grid;justify-content: center; align-items: center;
}
.Align_right {display: flex; justify-content: flex-end; padding: 2%;}
.full_view {
    width: 100%;
    height: calc(100% - 82px);
    position: fixed;
    background: rgba(29, 19, 42, 0.548);
    bottom: 0;
    left: 0;
    z-index: 10;
}
.full_img {
    max-height: calc(100vh - 180px);width: auto; box-shadow: 0px 0px 9px 0px white;
    background: white;
    transition: all 1s ease;
    animation: PopUP 1s linear;
}
@keyframes  PopUP{
    from{transform: scaleX(0) scaleY(.01);}
    50%{transform: scaleX(1) scaleY(.01);}
    100%{transform: scaleX(1) scaleY(1);}
}