.home_bg {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    transition: all 0.5s ease-out;
}
.heading h2 {
    font-family: 'Lobster','Palanquin Dark', 'Open Sans', sans-serif;
    font-size: max(2rem, 4vw);
}
.heading {
    margin: 0 0 0 1rem;
    opacity: 0;
    z-index: 1;
}
.heading h1 {
    font-size: max(2rem, 4vw);
    font-weight: lighter;
}
.heading h1 span {
    position: relative;
    font-family: 'Palanquin Dark', 'Open Sans', sans-serif;
    font-size: max(2.5rem, 4vw);
}
.HighBuildingsBg {
    transform: scaleY(0);
    animation: SlideUp var(--home_animation_duration) ease-in forwards;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.SkyScrapper {
    transform: translateX(100%);
    animation: SlideRight var(--home_animation_duration) calc(var(--home_animation_duration) * 2 ) ease-out forwards;
}
.fadeInUp {
    animation: fadeInUp 1s calc(var(--home_animation_duration) * 3 ) forwards;
}
@keyframes SlideRight {
    from{transform: translateX(100%);}
    to{transform: translateX(0%);}
}
@keyframes SlideUp {
    from{transform: scaleY(0);}
    to{transform: scaleY(1);}
}
@keyframes fadeInUp{
    from{opacity:0;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        transform:translate3d(0,50px,0)}
    to{opacity:1;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        transform:none}
    }

@media (max-width:380px) {
    .heading {text-align: center;}
}