#Contact {
    margin-bottom: .5em;    overflow-x: hidden;
}
.contact_container {
    padding-bottom: 1rem;
}
.contact_heading {
    font-size: 2.1rem;
    font-variant: petite-caps;
    text-align: center;
    margin: 0 auto .5em;
}
.form_container {
    display: grid;
    place-items: center;
    padding: 1em;
    max-width: 800px;
    margin: 0 auto;
}
.form_container form {width: 100%;}
.input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: .5em;
}
.form_container label {font-weight: bolder; width: 80px;}
.form_container input,.form_container textarea {
    padding: .6em;
    border: 2px solid #6d6c6d;
    outline: none;
    border-radius: 5px;
    width: 100%;
    background: rgba(255,255,255,.2);
    transition: all 0.5s ease;
    color: white;
    resize: vertical;
}
input:hover {background: rgb(214 213 255 / 45%);}
textarea:hover {background: rgb(214 213 255 / 45%);}
input:focus, textarea:focus {background: rgb(0 0 0 / 28%);}
.form_container button {
    padding: 12px;
    background: var(--dark-purplish);
    text-transform: uppercase;
    width: 100%;
}
textarea {min-height: 6.5em;}
.form_container input::placeholder,.form_container textarea::placeholder {
    color: white;
    font-weight: normal;
}
.social_profiles {
    padding-top: 2rem;
    background-color: black;
    text-align: center;
}
.bg_white {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
.bg_black {
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}
.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px,1fr));
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-width: 270px;
    margin: 0 auto;
}
.bg_white {
    transition: background .5s ease;
}
.copyright {text-align: center;font-variant: petite-caps;}
.bg_white:hover {
    background: #6d6c6d;
}
.mail_sent {
    display: grid;
    place-items: center;
}
@media (max-width: 560px) {
    .name_email {
        flex-direction: column;
        margin: 0 .7rem .5rem;
    }
}